body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Times";
	font-weight: 400;
}
.wrapper {
	display: none;
}
h1 {
text-align: center;
}
.button {
	text-align: center;
	background-color: blue;
	color: white;

}